<div *ngIf="error" class="alert alert-danger">
    {{errorMsg}}
</div>
<div class="d-flex flex-row  justify-content-center">
    <div class="roombox" *ngFor="let room of rooms | async; let i = index">
        <div class="picture text-center"><img src="{{room.imgurl}}" height="145"></div>
        <div class="name text-center"><h4>{{room.name}}</h4></div>
        <div class="actions text-center buttons">
            <button *ngIf="allowEdit(room.owner)" class="btn btn-primary" (click)="editRoom(room._id)">Edit</button>
            <br>
            <button *ngIf="!hasRoom" class="btn btn-success" (click)="joinRoom(room)">Join</button>
            <button *ngIf="userInRoom(room)" class="btn btn-danger" (click)="leaveRoom(room)">Leave</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-success" (click)="addRoom()"> + </button>
    </div>
</div>