body{
  /*background: url(../pix/logo/background.jpg) no-repeat center center fixed;
  background-size: cover;*/

}

//jumpotron overwrite
.jumbotron{
  padding: 48px 0 32px 0 !important;
  background-color: unset;
  margin-bottom: 0;
}

//outer
.container{
  &.content {
    box-shadow: $defaultBoxShadow;
    background: $footerBackground;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

//btn overwrite
.btn{
  &.btn-primary{
    color: $orange;
    background-color: transparent;
    border-color: $orange;
  }

  &:hover{
    color: $white;
    background-color: $orange;
    border-color: $orange;
  }

  &:after{
    content: "\f105";
    font-family: "FontAwesome";
    padding: 10px;
  }
}
