body{
  /*background: url(../pix/logo/background.jpg) no-repeat center center fixed;
  background-size: cover;*/

}

//jumpotron overwrite
.jumbotron{
  padding-top: 0;
  padding-bottom: 20px;
  background-color: unset;

  &:first-child{
    padding-top: 50px;
  }

  &.last-child{
    margin-bottom: 0;
  }
}

.container{
  background: $accordionToggle;

  &.content {
    margin-top: 2em;
    box-shadow: $defaultBoxShadow;
  }
}
