@import "globals/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/owl.carousel/src/scss/owl.carousel";
@import "../node_modules/owl.carousel/src/scss/owl.theme.default";
@import "../node_modules/owl.carousel/src/scss/animate";
@import "../node_modules/font-awesome/css/font-awesome.css";


@import "content/picTextBox";
@import "content/quiz";

@import "globals/globals";
@import "globals/variables";

@import "layout/nav";
@import "layout/header";
@import "layout/footer";
@import "layout/slider";