@import "globals/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/owl.carousel/src/scss/owl.carousel";
@import "../node_modules/owl.carousel/src/scss/owl.theme.default";
@import "../node_modules/owl.carousel/src/scss/animate";

@import "layout/nav";
@import "layout/header";
@import "layout/footer";
@import "layout/slider";

@import "globals/globals";
@import "globals/variables";