<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" *ngIf="regError">
            {{regMsg}}
        </div>
        <form [formGroup]="registerForm">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">
                    Username:
                </label>
                <div class="col-md-10">
                    <input class="form-control" formControlName="username">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">
                    Password:
                </label>
                <div class="col-md-10">
                    <input class="form-control" type="password" formControlName="password">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">
                    Password repeat:
                </label>
                <div class="col-md-10">
                    <input class="form-control" type="password" formControlName="passwordRepeat">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">
                    Email:
                </label>
                <div class="col-md-10">
                    <input class="form-control" formControlName="email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 offset-md-2 text-right">
                    <button class="btn btn-primary" (click)="register()">Registrieren</button>
                </div>
            </div>
        </form>
    </div>
</div>