.footerNav{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  padding: 45px 50px;

  .footerItem{
    display: inline-block;

    a {
      color: #fff;
      text-decoration: none;
      margin-right: 20px;
    }

    &:hover{
      color: #000;
    }
  }
}

