.slider{
  #owl-demo{
    .owl-dots{
      .owl-dot{
        span {
          background: $white;
        }

        &.active{
          span{
            background: $fancygrey;
          }
        }
      }
    }
    .item{
      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}



