.navWrapper{
  background-color: $black;
  box-shadow: $defaultBoxShadow;
}

.nav {
  text-align: center;
  background: $dark;
  border-bottom: 1px solid $secondary;

  .nav-icon{
    padding: 10px;

    &:hover{
      background: $secondary;
    }
  }

}