.quiz{
  .question{
    font-weight: 600;
    margin: 20px 0;
    border: 1px solid $alphaGray;
    padding: 10px 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);

    &:first-child{
      margin-top: 0;
    }
  }

  .answers {
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .answers {
    label {
      display: block;
    }

    .radiobtn{
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: $fontNormal;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input{
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkmark{
          background-color: $orange;
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $timeLineBorder;
        border-radius: 50%;
      }

      &:hover{
        input{
          &.checked ~ .checkmark{
            background-color: $orange;
          }
        }
      }
    }
  }
}

#submit{
  font-family: sans-serif;
  font-size: $font21;
  background-color: $orange;
  color: $white;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  margin: 20px 0;
  width: 100%;
  outline: none;

  .submitStr{
    padding-right: 10px;
  }

  &:hover{
    background-color: $darkOrange;
  }
}

#results{
  &.resultsShow {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: $font21;
    background-color: $orange;
    color: $white;
  }
}




