<div class="text-center" *ngIf="loadUser">
    <h1>Hello {{user.username}}</h1>
    <div *ngIf="!hasRoom">
        No Room Selected yet
    </div>
    <div *ngIf="hasRoom">
        You are currently in <b>{{room.name}}</b>
    </div>
    <div class="newEntry">
        <h2>Scribbleboard</h2>
        <form class="" [formGroup]="newEntryForm">
            <div class="form-group">
                <textarea class="form-control" formControlName="entry"></textarea>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" (click)="addEntry()">Add</button>
            </div>
        </form>
        <div *ngIf="loadBoard" class="boardEntries">
            <form class="" [formGroup]="editEntryForm">
                <fieldset formArrayName="entries">
                    <div class="card card-inverse boardEntry"
                         *ngFor="let entr of editEntryForm.controls.entries.controls; let i=index"
                         [formGroupName]="i">
                        <div class="text-right">
                            <button class="btn btn-danger btn-sm delbtn" (click)="deleteEntry(i)">X</button>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" formControlName="content"></textarea>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-success btn-sm" (click)="changeEntry()">Change</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>